<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "skill-ux";
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(setLayered + "base/head", { pageId: pageId }) %>
<body>
<%- include(setLayered + "base/header", { pageId: pageId }) %>

<span class="box-scrollGauge"></span>

<div class="area-content area-content-skill">
	<div class="area-content-skillInr">
		<%- include(setLayered + "skill/outline/outline", {
			"txtSkillOUtlineName": "UX",
			"txtSkillOUtlineNameSub": "User Experience",
			"ttlSkillOUtline": "百年後も愛される<br>コンテンツを科学する",
			"imgSkillOUtlineMain": "/skill/img/img_mainUx.jpg",
			"txtSkillOUtline": "ナイキのエアフォース1に、New Eraのベースボールキャップ…。人々に長く愛され続けるものには、どんな秘密が隠されているのでしょうか？UXデザインは、人々に愛されるコンテンツを創り上げるために最適な手法です。"
		}) %>
		
		<%- include(setLayered + "skill/title-section/title-section", {
			txtSectionSymbol: 'Works',
			txtSectionSymbolSub: 'Performance',
			ttlSectionTop: 'DMM電子書籍',
			txtSectionTop: '女性向けフロア'
		}) %>
		
		<%- include(setLayered + "skill/section/section", {
			"imgSection": ["/skill/img/img_dmmDensho.jpg"],
			"txtSection": "電子書籍販売サービス『DMM電子書籍』におけるUX改善の事例です。"
		}) %>
		
		<%- include(setLayered + "skill/agenda/agenda",{
			"txtSectionAgendaSymbol": "課題",
			"txtSectionAgendaSymbolSub": "Problem",
			"ttlSectionAgenda": "女性向け作品の売り上げを伸ばしたい",
			"txtSectionAgenda": "DMM電子書籍では、女性向け作品の売り上げが伸びないという課題を抱えていました。そこで、女性に刺さるコンテンツを展開して売り上げ増加を狙いたいと考えました。"
		}) %>
		
		<%- include(setLayered + "skill/agenda/agenda",{
			"txtSectionAgendaSymbol": "解決策",
			"txtSectionAgendaSymbolSub": "Approach",
			"ttlSectionAgenda": '<span class="txt-agenda-solution">ユーザーが抱く本質的な欲求や<br class="txt-newLine">課題に対してアプローチ',
			"txtSectionAgenda": "対象となるユーザーに向けてアンケートや座談会を実施。ユーザーが抱える課題や本質的な欲求を洗い出し、デザインテイストの改善や、新規キャンペーンの提案を行いました。"
		}) %>
		
		<p class="ttl-agendaSub txt-fontJapanese">ユーザー調査</p>
		
		<div class="wp-SectionColumnHalf">
			<%- include(setLayered + "skill/section/section-column-half", {
				"ttlSectionColumn": "アンケートの実施",
				"sectionColumnThumbnail": "/skill/img/img_dmmDensho_question.jpg",
				"txtSectionColumn": "100名の女性ユーザーに対してアンケートを実施。制作メンバーや事業部が、疑問に思っていることを質問しました。"
			}) %>
			
			<%- include(setLayered + "skill/section/section-column-half", {
				"ttlSectionColumn": "座談会の実施",
				"sectionColumnThumbnail": "/skill/img/img_dmmDensho_zadankai.jpg",
				"txtSectionColumn": "アンケート回答者のうち、特に熱量の高い人を集め座談会を実施。アンケート結果を深掘り、ユーザーの気持ちや事象を収集しました。"
			}) %>
		</div><!-- /.wp-SectionColumnHalf -->
		
		<p class="ttl-agendaSub txt-fontJapanese">分析</p>
		
		<%- include(setLayered + "skill/section/section-column", {
			"ttlSectionColumn01": "アンケート・座談会で得られた事象を元にユーザーの本質的な欲求を導き出す",
			"sectionColumnThumbnail01": "/skill/img/img_dmmDensho_analysis.jpg",
			"ttlSectionColumn02": "",
			"sectionColumnThumbnail02": "",
			"txtSectionColumn": "上位下位関係分析と呼ばれるユーザー分析の手法を用いて、ユーザー自身も気づいていない本質的な欲求を導き出しました。ユーザーの『事象（いつ・どこで何をしたか・思ったか）』を同様の『行為目的（〜だから〜したい）』ごとにまとめ、最終的に『本質的欲求（〜のようになりたい）』に束ねて行く手法です。"
		}) %>
		
		<p class="ttl-agendaSub txt-fontJapanese">分析結果</p>
		
		<%- include(setLayered + "skill/section/section-column", {
			"ttlSectionColumn01": "ユーザーの思いや課題を言語化",
			"sectionColumnThumbnail01": "/skill/img/img_dmmDensho_persona.jpg",
			"ttlSectionColumn02": "",
			"sectionColumnThumbnail02": "",
			"txtSectionColumn": "本質的欲求や行為目的をもとに、ペルソナを設計しました。分析の過程で見えてきたユーザーが抱いている思いや課題を言語化することで、サービスの改善点を洗い出すことができました。現在、この改善点をもとに新たな施策を提案中です。"
		}) %>
		
		<%- include(setLayered + "skill/agenda/agenda",{
			"txtSectionAgendaSymbol": "得られた結果",
			"txtSectionAgendaSymbolSub": "Result",
			"ttlSectionAgenda": "",
			"txtSectionAgenda": ""
		}) %>
		
		<%- include(setLayered + "skill/section/section-underline", {
			"txtSectionResult": ["効果的なキャンペーン施策の提案がしやすくなった","デザインテイストを変更したことにより、バナークリック率が増加した"]
		}) %>
		
		<%- include(setLayered + "skill/skill-and-method/skill-and-method", {
			"txtSkillAndMethod": "インタビュー設計・インタビュー・上位下位関係分析・ペルソナ設計"
		}) %>
	</div><!-- /.area-content-skillInr -->
	
	<%- include(setLayered + "skill/pager/pager",{
		"txtPagerSymbol01": "GD",
		"txtPagerSub01": "Graphic Design",
		"imgPager01": "/skill/img/btn_toGd.jpg",
		"pageUrl01": "/skill/gd/",
		"txtPagerSymbol02": "UI",
		"txtPagerSub02": "User Interface",
		"imgPager02": "/skill/img/btn_toUi.jpg",
		"pageUrl02": "/skill/ui/",
	}) %>
</div><!-- /.area-content-skill -->

<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/common/js/base.min.js"></script>
<script src="/skill/js/skill.min.js"></script>
</body>
</html>