<div class="box-skillOUtlineName">
	<span class="txt-skillOUtlineName txt-fontAlphabet"><%= txtSkillOUtlineName %></span>
	<span class="txt-skillOUtlineNameSub txt-fontAlphabetSub"><%= txtSkillOUtlineNameSub %></span>
</div><!-- /.box-skillOUtlineName -->

<div class="ttl-skillOUtlineOtr">
	<span class="ttl-skillOUtlineSub txt-fontAlphabet"><%= txtSkillOUtlineNameSub %></span>
	<h1 class="ttl-skillOUtline txt-fontJapanese"><%- ttlSkillOUtline %></h1>
</div><!-- /.ttl-skillOUtlineOtr -->

<div class="img-skillOUtlineMain"><img src="<%= imgSkillOUtlineMain %>" alt="メインビジュアル <%= txtSkillOUtlineNameSub %>" width="100%" height="" /></div>
<p class="txt-skillOUtline"><%= txtSkillOUtline %></p><!-- /.txt-skillSetOUtline -->