<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "top";
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(setLayered + "base/head", { pageId: pageId }) %>
<body>
<span class="bx-scrollGauge"></span>

<%- include(setLayered + "base/header", { pageId: pageId }) %>

<div class="area-content">
<%- include(setLayered + "main-visual/main-visual") %>

<%- include(setLayered + "profile/profile") %>

<%- include(setLayered + "title-section/title-section", {
	txtSectionSymbol: 'Skill Set',
	txtSectionSymbolSub: '<span class="txt-space">Grouth</span><span class="txt-space">Hack</span>',
	ttlSectionTop: '4つのデザインスキルで<br class="txt-newLine">サービスをグロース'
}) %>

<%- include(setLayered + "skill-set/skill-set") %>

<%- include(setLayered + "title-section/title-section", {
	txtSectionSymbol: 'Case Study',
	txtSectionSymbolSub: '<span class="txt-space">Creative</span><span class="txt-space">Works</span>',
	ttlSectionTop: 'スキル・過去の実例紹介'
}) %>

<p class="txt-caseStudyOutline">UX・UI・FE・GDのスキルを、過去の実例とともにご紹介します。</p>

<ul class="list-linkToSkill">
<%- include(setLayered + "link-to-skill/link-to-skill", {
	txtSkillName: "UX",
	txtSkillNameSub: "User Experience",
	txtSkillOutline: "100年後も愛される<br>コンテンツを科学する",
	imgSkillThumbnail: "img_skillThumbnailUX.jpg",
	pageUrl: "/skill/ux.html"
}) %>
<%- include(setLayered + "link-to-skill/link-to-skill", {
	txtSkillName: "UI",
	txtSkillNameSub: "User Interface",
	txtSkillOutline: "デザインは、使われて<br>はじめて完成する",
	imgSkillThumbnail: "img_skillThumbnailUi.jpg",
	pageUrl: "/skill/ui.html"
}) %>
<%- include(setLayered + "link-to-skill/link-to-skill", {
	txtSkillName: "FE",
	txtSkillNameSub: "Front End",
	txtSkillOutline: "精密な設計が<br>デザインの品質を高める",
	imgSkillThumbnail: "img_skillThumbnailFe.jpg",
	pageUrl: "/skill/fe.html"
}) %>
<%- include(setLayered + "link-to-skill/link-to-skill", {
	txtSkillName: "GD",
	txtSkillNameSub: "Graphic Design",
	txtSkillOutline: "本質的な思いを<br>デザインで表現する",
	imgSkillThumbnail: "img_skillThumbnailGd.jpg",
	pageUrl: "/skill/gd.html"
}) %>
</ul><!-- /.list-linkToSkill -->

</div><!-- /.area-content -->

<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/common/js/base.min.js"></script>
<script src="/top/js/top.min.js"></script>
</body>
</html>