<div class="wp-pager">
	<a class="box-pager" href="<%= pageUrl01 %>">
		<div class="box-pagerInr">
			<p class="txt-pagerSymbol txt-fontAlphabet"><%= txtPagerSymbol01 %></p>
			<span class="txt-pagerScript txt-fontAlphabetSub"><%= txtPagerSub01 %></span>
			<span class="txt-pagerSub txt-fontAlphabet"><%= txtPagerSub01 %></span>
		</div><!-- /.box-pagerInr -->
		<img class="img-pager" src="<%= imgPager01 %>" alt="ボタン背景 txtPagerSub01" width="100%" height="" />
	</a><!-- /.box-pager -->
	
	<a class="box-pager" href="<%= pageUrl02 %>">
		<div class="box-pagerInr">
			<p class="txt-pagerSymbol txt-fontAlphabet"><%= txtPagerSymbol02 %></p>
			<span class="txt-pagerScript txt-fontAlphabetSub"><%= txtPagerSub02 %></span>
			<span class="txt-pagerSub txt-fontAlphabet"><%= txtPagerSub02 %></span>
		</div><!-- /.box-pagerInr -->
		<img class="img-pager" src="<%= imgPager02 %>" alt="ボタン背景 txtPagerSub02" width="100%" height="" />
	</a><!-- /.box-pager -->
</div><!-- /.wp-pager -->