<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "skill-gd";
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(setLayered + "base/head", { pageId: pageId }) %>
<body>
<%- include(setLayered + "base/header", { pageId: pageId }) %>

<span class="box-scrollGauge"></span>

<div class="area-content area-content-skill">
	<div class="area-content-skillInr">
		<%- include(setLayered + "skill/outline/outline", {
			"txtSkillOUtlineName": "GD",
			"txtSkillOUtlineNameSub": "Graphic Design",
			"ttlSkillOUtline": "本質的な思いを<br>デザインで表現する",
			"imgSkillOUtlineMain": "/skill/img/img_mainGd.jpg",
			"txtSkillOUtline": "レコードのジャケットには、ミュージシャンが楽曲に込めた思いが1枚の絵となって表現されています。WEBデザイナーは、クライアントが抱いている本質的な思いをデザインで表現する必要があると思います。"
		}) %>
		
		<%- include(setLayered + "skill/title-section/title-section", {
			txtSectionSymbol: 'Works',
			txtSectionSymbolSub: 'Performance',
			ttlSectionTop: 'パシフィック不動産',
			txtSectionTop: 'WEBサイト / サインボード'
		}) %>
		
		<%- include(setLayered + "skill/section/section", {
			"imgSection": ["/skill/img/img_pacific01.jpg","/skill/img/img_pacific02.jpg"],
			"txtSection": "金沢で不動産業を展開する『パシフィック不動産』のプロモーションの事例です。"
		}) %>
		
		<%- include(setLayered + "skill/agenda/agenda",{
			"txtSectionAgendaSymbol": "課題",
			"txtSectionAgendaSymbolSub": "Problem",
			"ttlSectionAgenda": "競合他社との差別化を図りたい",
			"txtSectionAgenda": "不動産業を営む企業が多数ある金沢において、他社と同じようにサービスを展開しているだけでは厳しい競争に勝つことはできません。そこで、イメージを一新して競合他社との差別化を図りたいと依頼を受けました。"
		}) %>
		
		<%- include(setLayered + "skill/agenda/agenda",{
			"txtSectionAgendaSymbol": "解決策",
			"txtSectionAgendaSymbolSub": "Approach",
			"ttlSectionAgenda": '<span class="txt-agenda-solution"><span class="txt-agenda-solution-line01">固有のイメージを確立し、</span><br class="txt-newLine">より強固なブランドへとアップデート</span>',
			"txtSectionAgenda": "『不動産を提供するのではなく、ライフスタイルを提供する』という固有のブランドコンセプトを確立しました。あらゆる施策にコンセプトのテイストを落とし込み、より強固で洗練されたブランドへとアップデートすることができました。"
		}) %>
		
		<%- include(setLayered + "skill/section/section-column", {
			"ttlSectionColumn01": "WEBサイト",
			"sectionColumnThumbnail01": "/skill/img/img_pacific_web.jpg",
			"ttlSectionColumn02": "サインボード",
			"sectionColumnThumbnail02": "/skill/img/img_pacific_forRent.jpg",
			"txtSectionColumn": "本件では、イメージビジュアル・WEB・サインボードの制作を担当しました。"
		}) %>
		
		<%- include(setLayered + "skill/section/section-column", {
			"ttlSectionColumn01": "タペストリー",
			"sectionColumnThumbnail01": "/skill/img/img_pacific_tapestry.jpg",
			"ttlSectionColumn02": "TVCM",
			"sectionColumnThumbnail02": "/skill/img/img_pacific_tvcm.jpg",
			"txtSectionColumn": "各種ツールで共通のコンセプトを持つことで、より洗練されたブランドイメージを確立できました。"
		}) %>
		
		<%- include(setLayered + "skill/agenda/agenda",{
			"txtSectionAgendaSymbol": "得られた結果",
			"txtSectionAgendaSymbolSub": "Result",
			"ttlSectionAgenda": "",
			"txtSectionAgenda": ""
		}) %>
		
		<%- include(setLayered + "skill/section/section-underline", {
			"txtSectionResult": ["WEB・サインボードをはじめTVCMなどのあらゆるツールが洗練された","利用者にパシフィック不動産らしさを印象付けることができた"]
		}) %>
		
		<%- include(setLayered + "skill/skill-and-method/skill-and-method", {
			"txtSkillAndMethod": "Adobe Photoshop・Adobe Illustrator"
		}) %>
		
		<%- include(setLayered + "skill/link-to-other-site/link-to-other-site", {
			"txtLinkOtherSite": "パシフィック不動産 オフィシャルサイト",
			"LinkOtherSite": "http://www.pacific-re.jp/"
		}) %>
	</div><!-- /.area-content-skillInr -->
	
	<%- include(setLayered + "skill/pager/pager",{
		"txtPagerSymbol01": "FE",
		"txtPagerSub01": "Front End",
		"imgPager01": "/skill/img/btn_toFe.jpg",
		"pageUrl01": "/skill/fe/",
		"txtPagerSymbol02": "UX",
		"txtPagerSub02": "User Experience",
		"imgPager02": "/skill/img/btn_toUx.jpg",
		"pageUrl02": "/skill/ux/",
	}) %>
</div><!-- /.area-content-skill -->

<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/common/js/base.min.js"></script>
<script src="/skill/js/skill.min.js"></script>
</body>
</html>