<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "top";
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(setLayered + "base/head", { pageId: pageId }) %>
<body>
<span class="box-scrollGauge"></span>
<%- include(setLayered + "base/header", { pageId: pageId }) %>

<%- include(setLayered + "main-visual/main-visual") %>

<div class="area-content">

<div id="wp-profile">
	<div class="box-profile">
		<div class="box-profileInr box-ScrollAnimaton">
			<div class="ttl-profile txt-fontAlphabet">
				<p class="txt-profileCategory">Profile</p>
				<h2 class="txt-profileMain">
					<span class="txt-profileLast">Shimosaka</span><br>
					<span class="txt-profileFirst">Tatsuya</span>
	
				</h2>
				<p class="txt-profileProfession">WEB Designer</p>
			</div><!-- /.ttl-profile -->
			<dl class="data-profileOutline">
				<dt class="ttl-profileOutline txt-fontJapanese"><span class="txt-profileOutlineFirstLine">いちクリエイターとして、</span><br class="txt-newLine">世界を良くしたい</dt>
				<dd class="txt-profileOutline">私が目指すのは、技術を提供するだけの作業者ではなく、人々が抱える課題に対してWEBデザイナーならではのスキルとメソッドでアプローチきる人材です。コンセプトメイキングなどの上流工程から、UI設計・グラフィック作成などの下流工程にいたるまで、フルスタックに力を発揮できるようなクリエイターになりたいのです。</dd>
			</dl><!-- /.txt-profileOutline -->
		</div><!-- /.box-profileInr -->
		
		<div class="wp-profileThumbnail box-ScrollAnimaton">
			<div class="img-profileThumbnail">
				<img class="img-profileThumbnailInr" src="/img/img-profile.jpg" alt="サムネイル Shimosaka Tatsuya" width="100%" height="" />
			</div>
		</div><!-- /.img-profile -->
	</div><!-- /.box-profile -->
</div><!-- /#profile -->

<%- include(setLayered + "title-section/title-section", {
	txtSectionSymbol: 'Skill Set',
	txtSectionSymbolScript: '<span class="txt-space">Grouth</span><span class="txt-space">Hack</span>',
	ttlSectionTop: '4つのデザインスキルで<br class="txt-newLine">サービスをグロース'
}) %>

<p class="txt-skillsetOutline">私は、『UX』『UI』『FE（フロントエンド）』『GD（グラフィックデザイン）』の<br class="txt-newLine">
4つのデザインスキルで、ともに事業を成長させます。</p><!-- /.txt-skillsetOutline -->

<div class="wp-skliisetChart box-ScrollAnimaton">
	<div class="list-skliisetChart">
		<div class="box-skliisetChart">
			<img class="img-skliisetChart" src="/img/ico-skillset-ux.svg" alt="スキルセットの図 UX" width="100%" height="">
			<dl class="data-skliisetChart">
				<dt class="ttl-skliisetChart ttl-skliisetChart-ux txt-fontAlphabet">UX</dt>
				<dd class="txt-skliisetChart">ユーザー調査</dd>
				<dd class="txt-skliisetChart">インサイト検出</dd>
				<dd class="txt-skliisetChart">コンセプト設計</dd>
				<dd class="txt-skliisetChartLink txt-fontAlphabet"><a href="/skill/ux/"><span class="txt-skliisetChartLine">Case Study</span></a></dd>
			</dl>
		</div><!-- /.box-skliisetChart -->
		
		<div class="box-skliisetChart">
			<img class="img-skliisetChart" src="/img/ico-skillset-ui.svg" alt="スキルセットの図 UI" width="100%" height="">
			<dl class="data-skliisetChart">
				<dt class="ttl-skliisetChart ttl-skliisetChart-ui txt-fontAlphabet">UI</dt>
				<dd class="txt-skliisetChart">情報設計</dd>
				<dd class="txt-skliisetChart">UI設計</dd>
				<dd class="txt-skliisetChart">テスト・検証</dd>
				<dd class="txt-skliisetChartLink txt-fontAlphabet"><a href="/skill/ui/"><span class="txt-skliisetChartLine">Case Study</span></a></dd>
			</dl>
			
		</div><!-- /.box-skliisetChart -->
		
		<div class="box-skliisetChart">
			<img class="img-skliisetChart" src="/img/ico-skillset-fe.svg" alt="スキルセットの図 FE（フロントエンド）" width="100%" height="">
			<dl class="data-skliisetChart">
				<dt class="ttl-skliisetChart ttl-skliisetChart-fe txt-fontAlphabet">FE</dt>
				<dd class="txt-skliisetChart">開発環境設計</dd>
				<dd class="txt-skliisetChart">コーディング</dd>
				<dd class="txt-skliisetChart">保守性・効率性</dd>
				<dd class="txt-skliisetChartLink txt-fontAlphabet"><a href="/skill/fe/"><span class="txt-skliisetChartLine">Case Study</span></a></dd>
			</dl>
		</div><!-- /.box-skliisetChart -->
		
		<div class="box-skliisetChart">
			<img class="img-skliisetChart" src="/img/ico-skillset-gd.svg" alt="スキルセットの図 GD（グラフィックデザイン）" width="100%" height="">
			<dl class="data-skliisetChart">
				<dt class="ttl-skliisetChart ttl-skliisetChart-gd txt-fontAlphabet">GD</dt>
				<dd class="txt-skliisetChart">サイト作成</dd>
				<dd class="txt-skliisetChart">ページ作成</dd>
				<dd class="txt-skliisetChart">販促ツール作成</dd>
				<dd class="txt-skliisetChartLink txt-fontAlphabet"><a href="/skill/gd/"><span class="txt-skliisetChartLine">Case Study</span></a></dd>
			</dl>
		</div><!-- /.box-skliisetChart -->
	</div><!-- /.list-skliisetChart -->
	
	<div class="box-serviceChart">
		<img class="img-serviceChart" src="/img/ico-skillset-service.svg" alt="スキルセットの図 Service" width="100%" height="">
		<p class="txt-serviceChart txt-fontAlphabet">Service</p>
	</div><!-- /.box-serviceChart -->
</div><!-- /.wp-skliisetChart -->

<%- include(setLayered + "title-section/title-section", {
	txtSectionSymbol: 'Case Study',
	txtSectionSymbolScript: '<span class="txt-space">Creative</span><span class="txt-space">Works</span>',
	ttlSectionTop: 'スキル・過去の実例紹介'
}) %>

<p class="txt-caseStudyOutline">UX・UI・FE・GDのスキルを、過去の実例とともにご紹介します。</p>

<ul class="list-linkToSkill">
<%- include(setLayered + "link-to-skill/link-to-skill", {
	txtSkillName: "UX",
	txtSkillNameSub: "User Experience",
	txtSkillOutline: "100年後も愛される<br>コンテンツを科学する",
	imgSkillThumbnail: "/img/img_skillThumbnailUX.jpg",
	pageUrl: "/skill/ux/"
}) %>
<%- include(setLayered + "link-to-skill/link-to-skill", {
	txtSkillName: "UI",
	txtSkillNameSub: "User Interface",
	txtSkillOutline: "デザインは、使われて<br>はじめて完成する",
	imgSkillThumbnail: "/img/img_skillThumbnailUi.jpg",
	pageUrl: "/skill/ui/"
}) %>
<%- include(setLayered + "link-to-skill/link-to-skill", {
	txtSkillName: "FE",
	txtSkillNameSub: "Front End",
	txtSkillOutline: "精密な設計が<br>デザインの品質を高める",
	imgSkillThumbnail: "/img/img_skillThumbnailFe.jpg",
	pageUrl: "/skill/fe/"
}) %>
<%- include(setLayered + "link-to-skill/link-to-skill", {
	txtSkillName: "GD",
	txtSkillNameSub: "Graphic Design",
	txtSkillOutline: "本質的な思いを<br>デザインで表現する",
	imgSkillThumbnail: "/img/img_skillThumbnailGd.jpg",
	pageUrl: "/skill/gd/"
}) %>
</ul><!-- /.list-linkToSkill -->

</div><!-- /.area-content -->

<%- include(setLayered + "base/footer") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/common/js/base.min.js"></script>
<script src="/js/top.min.js"></script>
</body>
</html>