<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "skill-gd";
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(setLayered + "base/head", { pageId: pageId }) %>
<body>
<%- include(setLayered + "base/header", { pageId: pageId }) %>

<div class="area-content area-content-skill">
	<div class="area-content-skillInr">
		<%- include(setLayered + "skill-outline/skill-outline", {
			"txtSkillOUtlineName": "GD",
			"txtSkillOUtlineNameSub": "Graphic Design",
			"ttlSkillOUtline": "本質的な思いを<br>デザインで表現する",
			"imgSkillOUtlineMain": "/skill/img/img_mainGd.jpg",
			"txtSkillOUtline": "レコードのジャケットには、ミュージシャンが楽曲に込めた思いが1枚の絵となって表現されています。WEBデザイナーは、クライアントが抱いている本質的な思いをデザインで表現する必要があると思います。"
		}) %>
		
		<%- include(setLayered + "skill-title-section/skill-title-section", {
			txtSectionSymbol: 'Works',
			txtSectionSymbolSub: 'Performance',
			ttlSectionTop: 'パシフィック不動産',
			txtSectionTop: 'WEBサイト / サインボード'
		}) %>
		
		<%- include(setLayered + "skill-section/skill-section", {
			"imgSkillSection": ["/skill/img/img_pacific01.jpg","/skill/img/img_pacific02.jpg"],
			"txtSkillSection": "金沢で不動産業を展開する『パシフィック不動産』のプロモーションの事例です。"
		}) %>
	</div><!-- /.area-content-skillInr -->
</div><!-- /.area-content-skill -->

<%- include(setLayered + "base/footer") %>

</div><!-- /.area-content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/common/js/base.min.js"></script>
<script src="/skill/js/skill.min.js"></script>
</body>
</html>