<%
/* 相対パスを取得 */
var setLayered = ("../").repeat(filename.slice(filename.indexOf("_src")).split("/").length - 1)+"template/";

/* ページID */
var pageId = "skill-gd";
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(setLayered + "base/head", { pageId: pageId }) %>
<body>
<%- include(setLayered + "base/header", { pageId: pageId }) %>

<div class="area-content area-content-skill">
	<div class="area-content-skillInr">
		<%- include(setLayered + "skill-outline/skill-outline", {
			"txtSkillOUtlineName": "GD",
			"txtSkillOUtlineNameSub": "Graphic Design",
			"ttlSkillOUtline": "本質的な思いを<br>デザインで表現する",
			"imgSkillOUtlineMain": "/skill/img/img_mainGd.jpg",
			"txtSkillOUtline": "レコードのジャケットには、ミュージシャンが楽曲に込めた思いが1枚の絵となって表現されています。WEBデザイナーは、クライアントが抱いている本質的な思いをデザインで表現する必要があると思います。"
		}) %>
		
		<%- include(setLayered + "skill-title-section/skill-title-section", {
			txtSectionSymbol: 'Works',
			txtSectionSymbolSub: 'Performance',
			ttlSectionTop: 'パシフィック不動産',
			txtSectionTop: 'WEBサイト / サインボード'
		}) %>
		
		<%- include(setLayered + "skill-section/skill-section", {
			"imgSkillSection": ["/skill/img/img_pacific01.jpg","/skill/img/img_pacific02.jpg"],
			"txtSkillSection": "金沢で不動産業を展開する『パシフィック不動産』のプロモーションの事例です。"
		}) %>
		
		<%- include(setLayered + "skill-subtitle-section/skill-subtitle-section",{
			"txtSectionAgendaSymbol": "課題",
			"txtSectionAgendaSymbolSub": "Problem",
			"ttlSectionAgenda": "競合他社との差別化を図りたい",
			"txtSectionAgenda": "不動産業を営む企業が多数ある金沢において、他社と同じようにサービスを展開しているだけでは厳しい競争に勝つことはできません。そこで、イメージを一新して競合他社との差別化を図りたいと依頼を受けました。"
		}) %>
		
		<%- include(setLayered + "skill-subtitle-section/skill-subtitle-section",{
			"txtSectionAgendaSymbol": "解決策",
			"txtSectionAgendaSymbolSub": "Approach",
			"ttlSectionAgenda": '<span class="txt-imageEstablishment"><span class="txt-imageEstablishmentLine01">固有のイメージを確立し、</span><br class="txt-newLine">より強固なブランドへとアップデート</span>',
			"txtSectionAgenda": "『不動産を提供するのではなく、ライフスタイルを提供する』という固有のブランドコンセプトを確立しました。あらゆる施策にコンセプトのテイストを落とし込み、より強固で洗練されたブランドへとアップデートすることができました。"
		}) %>
		
		<%- include(setLayered + "skill-section-column/skill-section-column", {
			"ttlSectionColumn01": "WEBサイト",
			"sectionColumnThumbnail01": "/skill/img/img_pacific_web.jpg",
			"ttlSectionColumn02": "TVCM",
			"sectionColumnThumbnail02": "/skill/img/img_pacific_tvcm.jpg",
			"txtSectionColumn": "本件では、イメージビジュアル・WEB・サインボードの制作を担当しました。"
		}) %>
		
		<%- include(setLayered + "skill-section-column/skill-section-column", {
			"ttlSectionColumn01": "1つのソースから、複数のファイルを生成",
			"sectionColumnThumbnail01": "/skill/img/img_dmmDensyoGulp.jpg",
			"ttlSectionColumn02": "",
			"sectionColumnThumbnail02": "",
			"txtSectionColumn": "本件では、イメージビジュアル・WEB・サインボードの制作を担当しました。"
		}) %>
		
		<div class="wp-SectionColumnHalf">
			<%- include(setLayered + "skill-section-column/skill-section-column-half", {
				"ttlSectionColumn": "ファーストビューで趣旨を伝える",
				"sectionColumnThumbnail": "/skill/img/img_dmmSocial_fv.jpg",
				"txtSectionColumn": "以前は『SNS一覧』と掲載され、facebookやtwitterアイコンを押下した際の挙動がイメージできず、離脱率増加の一因になっていました。そこで、ページの趣旨を簡潔に伝えることで、ユーザーの不安を払拭し、離脱率を解消しました。"
			}) %>
			
			<%- include(setLayered + "skill-section-column/skill-section-column-half", {
				"ttlSectionColumn": "スクロールアニメーションで視線を誘導",
				"sectionColumnThumbnail": "/skill/img/img_dmmSocial_scroll.jpg",
				"txtSectionColumn": "スクロールすると、ヘッダー部分にブラーがかかり、ユーザーの視線を自然とコンテンツへ誘導するように設計しました。"
			}) %>
		</div><!-- /.wp-SectionColumnHalf -->
		
		<%- include(setLayered + "skill-section-column/skill-section-column", {
			"ttlSectionColumn01": "マテリアルデザインで操作性を示唆",
			"sectionColumnThumbnail01": "/skill/img/img_dmmSocial_material.jpg",
			"ttlSectionColumn02": "",
			"sectionColumnThumbnail02": "/skill/img/img_dmmSocial_materialButton.jpg",
			"txtSectionColumn": "ボタンなどのUIパーツには、マテリアルデザインを取り入れることで、操作性を向上しています。"
		}) %>
		
		<%- include(setLayered + "skill-subtitle-section/skill-subtitle-section",{
			"txtSectionAgendaSymbol": "得られた結果",
			"txtSectionAgendaSymbolSub": "Result",
			"ttlSectionAgenda": "",
			"txtSectionAgenda": ""
		}) %>
		
		<%- include(setLayered + "skill-section-underline/skill-section-underline", {
			"txtSectionResult": ["WEB・サインボードをはじめTVCMなどのあらゆるツールが洗練された。","利用者にパシフィック不動産らしさを印象付けることができた。"]
		}) %>
		
		<%- include(setLayered + "skill-and-method/skill-and-method") %>
		
		<div class="box-linkOtherSite">
			<a class="txt-linkOtherSite" href="#" target="_blank">パシフィック不動産 オフィシャルサイト</a>
		</div>
	</div><!-- /.area-content-skillInr -->
</div><!-- /.area-content-skill -->

<%- include(setLayered + "base/footer") %>

</div><!-- /.area-content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/common/js/base.min.js"></script>
<script src="/skill/js/skill.min.js"></script>
</body>
</html>