<li class="box-linkToSkill">
	<div class="ttl-linkToSkill">
		<p class="wp-skillName txt-fontAlphabet">
			<span class="txt-skillName"><%= txtSkillName %></span>
			<span class="txt-skillNameScript txt-fontAlphabetSub"><%= txtSkillNameSub %></span>
		</p><!-- /.txt-skillName -->
		<span class="txt-skillNameSub txt-fontAlphabet"><%= txtSkillNameSub %></span>
		<h4 class="txt-skillCatchCopy txt-fontJapanese"><%- txtSkillOutline %></h4>
		<a class="btn-linkToSkill txt-fontAlphabet" href="/<%- pageId %>/"><span class="btn-linkToSkillInr"><span class="ico-linkToSkill">View Ditail</span></span></a>
</div><!-- /.ttl-linkToSkill -->

<div class="img-skillThumbnail">
	<img src="/top/img/<%= imgSkillThumbnail %>" width="100%" height="">
</div><!-- /.img-skillThumbnail" -->
</li><!-- /.box-linkToSkill -->